#todoItems {
  max-height: 450px;
  overflow-y: auto;
}

.taskWrapper {
  background-color: #5388d5;
  border-radius: 10px;
  box-shadow: 0 0 14px 1px rgba(0, 0, 0, .2);
  padding: 15px 15px 10px;
  margin-bottom: 20px;
  font-family: sans-serif;
  color: #fff;
}

.taskHeading {
  font-size: 22px;
  font-weight: 700;
  border-bottom: 1px solid rgba(255, 255, 255, .4);
  padding-bottom: 5px;
}

.taskDescription {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 300;
}

.taskWrapperDelete {
  margin-top: 7px;
  margin-left: auto;
  background-color: #e72e2e;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 7px;
  cursor: pointer;
  transform: scale(0);
  will-change: transform;
  transition: transform .2s;
}

.taskWrapper:hover .taskWrapperDelete {
  transform: scale(1);
}

.taskWrapperDelete i {
  font-size: 20px;
  color: #fff;
}